.App {
    max-width: 100%;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}

.logo {
    padding: 1.25em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
    filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.headerbar {
    background-color: #0A141E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.boxitem {
    background-color: #ffffff;
    height: 200px;
    padding: 1px 10px;
    margin: 0px;
    width: 25%;
    overflow: auto;
    position: relative;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.LatestArticlesPics {
    background-color: #ffffff;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

.rectangle {
    height: 5vh;
    width: 10vw;
    background-color: #0A141E;
    margin: 3vh 0 1vh 0vw;
    border-radius: 5px;
    /* This will make the rectangle rounded */
}

.RectangleImages {
    width: auto;
    background-color: #0A141E;
    height: 11vh;
    border-radius: 0 0 10px 10px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: center;
    padding: 0px;
    text-align: center;
    gap: 2.222vw;
}

.images img {
    border-radius: 10px 10px 0 0;
}

/* @media */
@media (max-width: 1920px) {
    .images img {
        max-width: 18vw;
    }
}

@media (max-width: 1388px) {
    .images img {
        max-width: 18vw;
    }
}

@media (max-width: 1000px) {
    .images img {
        max-width: 40vw;
    }
}

@media (max-width: 650px) {
    .images img {
        max-width: 60vw;
    }
}

.middle {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
}

.Content {
    margin-bottom: 3vh;
    padding: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
}

h1 {
    text-align: start;
    font-size: calc(10px + 1.3vw);
}

.TopImage {
    background-color: #0A141E;
    height: 10vw;
}

.ImagesContent {
    display: flex;
    flex-direction: column;
}