.App {
    max-width: 100%;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}

.logo {
    padding: 1.25em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
    filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.headerbar {
    background-color: #0A141E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.boxitem {
    background-color: #ffffff;
    height: 200px;
    padding: 1px 10px;
    margin: 0px;
    width: 25%;
    overflow: auto;
    position: relative;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.Draggable {
    background-color: #ffffff;
    margin-right: 25px;
}

.LatestArticlesPics {
    background-color: #ffffff;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

.rectangle {
    height: 5vh;
    /* Adjust as needed */
    width: 10vw;
    /* Adjust as needed */
    background-color: #0A141E;
    margin: 3vh 0 1vh 6.8vw;
    border-radius: 5px;
    /* This will make the rectangle rounded */
}

// @media (max-width: 1366px) {
//     .App {
//         /* Styles for screens 1024px and up go here */
//     }

//     .rectangle {
//         margin: 3% 0% 1% 17vw;
//     }
// }

// @media (max-width: 1024px) {
//     .App {
//         /* Styles for screens 1024px and up go here */
//     }

//     .rectangle {
//         margin: 3% 0% 1% 38 vw;
//     }
// }

// @media (max-width: 1280px) {
//     .App {
//         /* Styles for screens 1280px and up go here */
//     }
// }

// @media (max-width: 1440px) {
//     .App {
//         /* Styles for screens 1440px and up go here */
//     }
// }

// @media (max-width: 1920px) {
//     .App {
//         /* Styles for screens 1920px and up go here */
//     }
// }.LatestArticlesBar {}